.sw-cms-preview-twslider {
    align-items: center;
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-gap: 5px;
    height: 100%;

    img {
        margin: 0;
        display: block;
        max-width: 100%;
    }

    .sw-cms-preview-twslider__product-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 15px;
    }
}